@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Comfortaa:wght@300;400;500;600;700&family=Orbitron:wght@400;600;700&family=Raleway:wght@400;500;600&family=Rubik:wght@300;400;500;700&display=swap");
:root {
  --primary: #262626;
  --error: #e7195a;
  --gray: rgb(211, 211, 211);
}
* {
  font-family: Rubik;
  font-weight: 400;
  font-size: 15px;
}
img {
  border-radius: 5px;
}
h1,
h2,
h3,
img,
label {
  user-select: none;
}
h1 {
  color: var(--primary);
}
.product-details p {
  font-size: 0.9em;
}

/*        Navigation    */
header {
  background-color: whitesmoke;
  user-select: none;
  position: sticky;
  width: 100%;
  z-index: 9999;
}
header .logo {
  color: black;
  font-family: Alata;
  font-size: 1.7em;
}
a {
  margin: 0px 5px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: var(--primary);
}
.nav-t-r {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border: 2px solid var(--primary);
  border-radius: 30px;
}
.nav-t-r:hover {
  background-color: var(--primary);
  color: white;
}
.dropdown {
  position: absolute;
  top: 76px;
  right: 25px;
  width: 120px;
  border-radius: 10px;
  background-color: white;
  padding: 7px;
}
.dropdown button {
  width: 100%;
}
.dropdown a {
  padding: 2px;
  margin: 0;
}
.logo {
  color: var(--primary);
}
.col a {
  margin: 0;
  text-decoration: underline;
}
header .logout {
  color: var(--primary);
}

/* Home         Page */

.home {
  margin: 100px 200px;
}
.sidebar {
  border-right: 1px solid var(--gray);
}
.sidebar .buttons {
  margin: 10px 0px;
}
.sidebar .buttons button {
  width: 100%;
  text-align: start;
  line-height: 25px;
  font-weight: 300;
}
.sidebar .buttons button:hover {
  text-decoration: underline;
}

.banner {
  width: 70%;
  margin: 40px 15%;
}
.banner img {
  height: 200px;
}

.col {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.col .content {
  position: relative;
}

.range-input {
  width: 100%; /* Set the width to 100% of its container */
  height: 8px; /* Adjust the height as needed */
  background: var(--primary);
  outline: none; /* Remove the default outline on focus */
  border: none; /* Remove the default border */
  border-radius: 4px; /* Add rounded corners to the track */
}
.pricing input {
  border: 1px solid var(--primary);
  width: 50%;
  outline: none;
  padding: 2px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Products   Table  CSS */
table thead {
  background-color: var(--primary);
}
table button {
  text-decoration: underline;
  margin-left: 2px;
}
table .submit {
  padding: 5px 10px 2px 10px;
  border-radius: 5px;
  margin-left: 10px;
  text-decoration: none;
  border: 1px solid var(--primary);
  color: var(--primary);
  transition: all 0.1s ease;
}
table .submit:hover {
  background-color: var(--primary);
  color: white;
}

/*            Form          CSS */
.form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form h2 {
  font-size: 2em;
  text-align: center;
  margin: 0px 10% 40px 10%;
  border-bottom: 2px solid var(--primary);
  width: 80%;
  padding-bottom: 10px;
}
.ant-btn-primary {
  color: var(--primary);
  border: 2px solid var(--primary);
  box-shadow: none;
}
option {
  align-items: center;
}
.button {
  padding: 7px 10px;
  border: 2px solid var(--primary);
  cursor: pointer;
  margin: 0 20%;
  width: 60%;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background-color: var(--primary);
  color: white;
}
form input:focus {
  border: 1px solid var(--primary);
}

/*         React Icon For Logout       */
.logout {
  margin-top: 3px;
  color: white;
}
/*            Capsule Button     CSS   */
.btn {
  padding: 7px 10px;
  border: 2px solid var(--primary);
  border-radius: 20px;
  color: var(--primary);
}
.btn:hover {
  background-color: var(--primary);
  color: white;
}
/*     UI Error Styling    */
.error-backend {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: popup ease-in-out 3s;
}
@keyframes popup {
  0%,
  100% {
    opacity: 0;
    top: -100px;
  }
  20%,
  80% {
    opacity: 1;
    top: 30px;
  }
}

/* Tabs    Styling */
/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ebe9e9;
  margin: 0 5%;
  width: 90%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Create an active/current tablink class */
.tab button.activeB {
  color: var(--primary);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tab button {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  transition: all 0.3s ease;
}

.tab button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  transition: all 0.3s ease;
}

.tab button:hover::before {
  width: 100%;
}
.tab button.activeB::before {
  width: 100%;
}
